<!DOCTYPE HTML>
<html>
<head>
    <title>RTLion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        function fadeInAnim(){
            $("#imgLogo").delay(50).animate({"opacity": "1"}, 700);
            $("#spnDesc").delay(600).animate({"opacity": "1"}, 700);
        }
        $(document).ready(function() {
            fadeInAnim();
            namespace = '/';
            var socket = io.connect(location.protocol + '//' + document.domain + 
                         ':' + location.port + namespace);

            socket.on('connect', function() {
                //
            });
        });
    </script>
</head>
<body>
    <center>
        <img class="logo-img" src="{{ url_for('static', filename='img/rtlion.png') }}" id="imgLogo">
        <br>
        <span class="project-desc" id="spnDesc">Multipurpose RTL-SDR Framework</span>
        <br><br>
        <form id="graph_page" method="POST" action="/graph">
            <input type="submit" id="graph_page_btn" value="FFT graph">
        </form>
        <br>
    </center>
</body>
</html>
