<!DOCTYPE HTML>
<html>
    <head>
        <title>RTLion Framework [Scanner]</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" charset="utf-8"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}" charset="utf-8"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scan.js') }}" charset="utf-8"></script>
    </head>
    <body>
        <div class="row">
            <div class="start-column">
                <img class="logo-img" src="{{ url_for('static', filename='img/rtlion_crop.png') }}">
                <fieldset>
                    <legend>Scanner & Settings</legend>
                    <span class="settings-text" id="spnSettingsLog"></span>
                    <form id="formSaveSettings" class="submit-form" method="POST" action="#">
                        Device Index<input class="ghost-input" type="text" placeholder="0" id="inpDevIndex">
                        Sample Rate<input class="ghost-input" type="text" placeholder="2048000" id="inpSampRate">
                        Gain<input class="ghost-input" type="text" placeholder="auto" id="inpDevGain">
                        Min. Frequency
                        <input class="ghost-input" type="number" placeholder="" min="0" id="inpFreqMin">
                        Max. Frequency
                        <input class="ghost-input" type="number" placeholder="" min="0" id="inpFreqMax">
                        Interval<input class="ghost-input" type="text" placeholder="500" id="inpInterval">
                    </form>
                    <form id="formStartScan" method="POST" action="#">
                        <input class="ghost-button left-float" type="submit" id="btnStartScan" value="Start Scan">
                    </form>
                    <form id="formDisconnect" method="POST" action="#">
                        <input class="ghost-button right-float" type="submit" id="btnDisconnect" value="Disconnect">
                    </form>
            </fieldset>
            </div>
            <div class="mid-column">
                <fieldset>
                    <legend>Log</legend>
                    <div class="log-text-scan" id="divLog"></div>
                    <span class="ping-text" id="spnPingPong">~</span>
                </fieldset>
                <br>
                <fieldset>
                    <legend>Scan Results</legend>
                    <span class="freq-text" id="spnFreqRange">&nbsp;</span>
                    <div class="scan-text" id="divScanResults"></div>
                </fieldset>
            </div>
            <div class="end-column" id="colScanner">
                <img class="resp-img" id="imgFreqScan">
            </div>
        </div>
    </body>
</html>