<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" charset="utf-8"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/client.min.js') }}" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                var clientJS = new ClientJS();
                var clientInfo = { 
                    "browserFingerprint"  :  clientJS.getFingerprint(),
                    "browserInfo"         :  clientJS.getBrowser() + " (" + clientJS.getBrowserVersion() + ")",
                    "osInfo"              :  clientJS.getOS() + " " + clientJS.getOSVersion() + " (" + clientJS.getCPU() + ")",
                    "screenInfo"          :  clientJS.getScreenPrint(),
                    "timeZoneInfo"        :  clientJS.getTimeZone(),
                    "langInfo"            :  clientJS.getLanguage()
                }
                $("#spnClientInfo").text(JSON.stringify(clientInfo, null, 2));
                $("#spnClientInfo").hide();
                window.location.replace("/");
            });
        </script>
    </head>
    <body>
        <span id="spnClientInfo"></span>
    </body>
</html>