body {
    font-family: monospace, monospace;
    font-size: 14px;
    background-color: #fff;
}
fieldset {
    display: block;
    border:1px solid #c1c1c1;
    color: #2F2E2E;
}
legend {
    font-weight: bold;
}
.startcolumn {
    float: left;
    width: 44%;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}
.midcolumn {
    float: left;
    width: 25%;
}
.endcolumn {
    float: left;
    width: 20%;
    margin-left: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.respimg {
    width: 100%;
    height: auto;
    max-width: 558px;
    max-height: 418px;
    padding:1px;
    border:2px solid #fff;
}
.logtext {
    float: left;
    overflow-y: auto;
    height: 400px;
    width: 100%;
}
.pingtext {
    float: right;
    margin-right: 5px;
    color: #686868;
}
.settingstext {
    float: right;
    color: #686868;
    margin-left: 5px;
}
.graphform {
    font-weight: bold;
    font-size: 13px;
}
.ghost-input {
    display: block;
    font-weight:300;
    width: 100%;
    font-size: 14px;
    border:0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #2F2E2E;
    background: #f4f4f4;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 6px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
    border-bottom:1px solid #000;
}
.ghost-button {
    background-color: transparent;
    border:2px solid #c1c1c1;
    padding:7px 7px; 
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
    outline: none;
}
.ghost-button:hover {
    border:2px solid #515151;
}
.ghost-button:focus {
    outline:0;
}