body {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
}
.left {
    float: left;
    width: auto;

}
.right {
    float: left;
    width: auto;
    text-align: left;
    margin-left: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.respimg {
    width: 100%;
    height: auto;
    max-width: 578px;
    max-height: 455px;
    padding:1px;
    border:2px solid #FFF;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 14px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  background: #f4f4f4;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 6px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #000;
}
.ghost-button {
  background-color: transparent;
  border:2px solid #c1c1c1;
  padding:7px 7px; 
  min-width: 200px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
  outline: none;
}
.ghost-button:hover {
  border:2px solid #515151;
}
.ghost-button:focus {
    outline:0;
}