@font-face {
    font-family: "UbuntuMono-R";
    src: url("../fonts/UbuntuMono-R.ttf");
}
body {
    font-family: monospace, monospace;
    font-size: 14px;
    background-color: #fff;
}
fieldset {
    display: block;
    border:1px solid #c1c1c1;
    color: #2F2E2E;
}
legend {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.right-float {
    float: right;
}
.left-float {
    float: left;
}
.start-column {
    float: left;
    width: 25%;
}
.mid-column {
    float: left;
    width: 20%;
    margin-left: 10px;
}
.end-column {
    float: left;
    width: 44%;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.resp-img {
    width: 100%;
    height: auto;
    max-width: 558px;
    max-height: 418px;
    padding:1px;
    border:2px solid #fff;
}
.logo-img {
    width: 100%;
    height: auto;
    max-width: 214px; 
    max-height: 81px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}
.log-text {
    font-family: "UbuntuMono-R";
    font-size: 15px;
    float: left;
    overflow-y: auto;
    height: 507px;
    width: 100%;
}
.log-text-scan {
    font-family: "UbuntuMono-R";
    font-size: 15px;
    float: left;
    overflow-y: auto;
    height: 200px;
    width: 100%;
}
.scan-text {
    font-family: "UbuntuMono-R";
    font-size: 15px;
    float: left;
    overflow-y: auto;
    height: 246px;
    width: 100%;
}
.ping-text {
    font-family: "UbuntuMono-R";
    float: right;
    margin-right: 3px;
    color: #686868;
}
.freq-text{
    font-family: "UbuntuMono-R";
    float: left;
    margin-right: 3px;
    color: #686868;
}
.settings-text {
    float: right;
    color: #686868;
    margin-left: 5px;
}
.submit-form {
    font-weight: bold;
    font-size: 13px;
}    
.ghost-input {
    display: block;
    font-weight:300;
    width: 100%;
    font-size: 14px;
    border:0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #2F2E2E;
    background: #f4f4f4;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 6px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
    border-bottom:1px solid #000;
}
.ghost-button {
    background-color: transparent;
    border:2px solid #c1c1c1;
    padding:7px 7px; 
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
    outline: none;
    min-width: 150px;
}
.ghost-button:hover {
    border:2px solid #515151;
}
.ghost-button:focus {
    outline:0;
}
.range-slider-graph{
    float: left;
    width: 80%;
    margin-left: 56px;
}
.range-slider-scan{
    float: right;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 5px;
}
.range-text {
    margin-left: 28px;
    display: block;
    color: #686868;
}
