body {
    background-image: url("/static/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 135%;
    background-color: #383442;
  }
.logo-img {
    width: 100%;
    height: auto;
    max-width: 428px;
    max-height: 228px;
    padding:10px;
}