@font-face {
    font-family: "UbuntuMono-R";
    src: url("font/UbuntuMono-R.ttf");
}
.logo-img {
    width: 100%;
    height: auto;
    max-width: 428px;
    max-height: 228px;
    padding:5px;
    opacity: 0;
}
.project-desc {
    font-family: "UbuntuMono-R";
    font-weight: bold;
    font-size: 19px;
    color: #1a1a1a;
    opacity: 0;
}
.project-desc:before, .project-desc:after {
    background-color: #1a1a1a;
    content: "";
    display: inline-block;
    height: 1px;
    border: 0;
    position: relative;
    vertical-align: middle;
    width: 3%;
}

.project-desc:before {
    right: 0.5em;
    margin-left: -3%;
    background-image: -webkit-linear-gradient(left, #ccc, #1a1a11, #1a1a11);
    background-image: -moz-linear-gradient(left, #ccc, #1a1a11, #1a1a11);
    background-image: -ms-linear-gradient(left, #ccc, #1a1a11, #1a1a11);
    background-image: -o-linear-gradient(left, #ccc, #1a1a11, #1a1a11);
}

.project-desc:after {
    left: 0.5em;
    margin-right: -3%;
    background-image: -webkit-linear-gradient(left, #1a1a11, #1a1a11, #ccc);
    background-image: -moz-linear-gradient(left, #1a1a11, #1a1a11, #ccc);
    background-image: -ms-linear-gradient(left, #1a1a11, #1a1a11, #ccc);
    background-image: -o-linear-gradient(left, #1a1a11, #1a1a11, #ccc);
}