<!DOCTYPE HTML>
<html>
<head>
    <title>FFT graph</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            graph_namespace = '/graph';
            var socket = io.connect(location.protocol + '//' + document.domain + 
                         ':' + location.port + graph_namespace);

            socket.on('connect', function() {
                socket.emit('server_response', {data: 'Server [<]'});
                socket.emit('send_cli_args');
            });

            socket.on('client_message', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            });

            $('form#stop_sdr').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });

            $('form#create_graph').submit(function(event) {
                socket.emit('create_fft_graph');
                $("form#stop_sdr").css("visibility", "visible")
                $("form#create_graph").css("visibility", "hidden")
                return false;
            });

            socket.on('fft_data', function(msg) {
                $('#fft_graph').attr("src", "data:image/png;base64," + msg.data);
            });

            socket.on('cli_args', function(args) {
                $("#dev_index").val(args.dev);
                $("#samp_rate").val(args.samprate);
                $("#dev_gain").val(args.gain);
                if (args.freq == null){
                    $("#center_freq").val("");
                }else{
                    $("#center_freq").val(args.freq);
                }
            });
            $('form#save_settings').submit(function(event) {
                // Check arguments here
                socket.emit('update_settings',
                {'dev': parseInt($('#dev_index').val()), 
                'samprate': parseInt($('#samp_rate').val()), 
                'gain': $('#dev_gain').val(), 
                'freq': parseInt($('#center_freq').val())});
            });

            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('server_ping');
            }, 1000);
            socket.on('server_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30);11
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10 + "ms");
            });

        });
    </script>
</head>
<body>
    <center>
        <img id="fft_graph">
        <br>
        <form id="create_graph" method="POST" action="#">
            <input type="submit" value="Create FFT graph">
        </form>
        <br>
        <form id="stop_sdr" method="POST" action="#" style="visibility: hidden">
            <input type="submit" value="Stop RTL-SDR">
        </form>
        <b><span id="ping-pong"></span></b>
        <div id="log"></div>
        <br>
        <form id="save_settings" method="POST" action="#">
                Device index: <input type="text" id="dev_index"><br>
                Sample rate: <input type="text" id="samp_rate"><br>
                Center frequency: <input type="text" id="center_freq"><br>
                Gain: <input type="text" id="dev_gain"><br>
                <input type="submit" value="Save">
        </form>
    </center>
</body>
</html>