<!DOCTYPE HTML>
<html>
<head>
    <title>FFT graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#fft_graph_column').hide();
            graph_namespace = '/graph';
            create_graph = true;
            var socket = io.connect(location.protocol + '//' + document.domain + 
                         ':' + location.port + graph_namespace);

            socket.on('connect', function() {
                socket.emit('send_cli_args');
            });

            socket.on('client_message', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            });
            $('form#create_graph').submit(function(event) {
                if (create_graph){
                    // Check arguments
                    create_graph = false;
                    $('#btn_graph').val("Stop");
                    read_count = 0;
                    socket.emit('create_fft_graph');
                }else{
                    create_graph = true;
                    $('#btn_graph').val("Create FFT graph");
                    socket.emit('stop_sdr');
                }
                return false;
            });

            socket.on('fft_data', function(msg) {
                $('#fft_graph').attr("src", "data:image/png;base64," + msg.data);
                read_count++;
                $('#read_count').text(read_count)
                if(!$('#fft_graph_column').is(':visible')){
                    $('#fft_graph_column').show();
                }
            });

            socket.on('cli_args', function(args) {
                $("#dev_index").val(args.dev);
                $("#samp_rate").val(args.samprate);
                $("#dev_gain").val(args.gain);
                $("#center_freq").val(args.freq);
                $("#n_read").val(args.n)
                $("#interval").val(args.i);
                read_count = args.n
            });
            $('form#save_settings').submit(function(event) {
                // Check arguments here
                socket.emit('update_settings',
                {'dev': parseInt($('#dev_index').val()), 
                'samprate': parseInt($('#samp_rate').val()), 
                'gain': $('#dev_gain').val(), 
                'freq': parseInt($('#center_freq').val()),
                'n': parseInt($('#n_read').val()),
                'i': parseInt($('#interval').val())});
                socket.emit('send_cli_args');
                return false;
            });

            var ping_pong_times = [];
            var start_time;
            var read_count;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('server_ping');
            }, 1000);
            socket.on('server_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30);11
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping_pong').text(Math.round(10 * sum / ping_pong_times.length) / 10 + "ms");
            });

        });
    </script>
</head>
<body>
        <div class="row">
            <div class="startcolumn" id="fft_graph_column">
                <img class="respimg" id="fft_graph">
            </div>
            <div class="midcolumn">
                <fieldset>
                <form id="create_graph" method="POST" action="#">
                    <input class="ghost-button" type="submit" id="btn_graph" value="Create FFT graph">
                </form>
                <br>
                <form id="save_settings" method="POST" action="#">
                    Device Index<input class="ghost-input" type="text" placeholder="0" id="dev_index">
                    Sample Rate<input class="ghost-input" type="text" placeholder="2048000" id="samp_rate">
                    Center Frequency<input class="ghost-input" type="text" placeholder="" id="center_freq">
                    Gain<input class="ghost-input" type="text" placeholder="auto" id="dev_gain">
                    Reads<input class="ghost-input" type="text" placeholder="-1" id="n_read">
                    Interval<input class="ghost-input" type="text" placeholder="500" id="interval">
                    <i><span id="read_count"></span></i><br>
                    <input class="ghost-button" type="submit" value="Save">
                </form>
                </fieldset>
                <center><span id="ping_pong"></span></center>
            </div>
            <div class="endcolumn">
                <div id="log"></div>
            </div>
        </div>

</body>
</html>