<!DOCTYPE HTML>
<html>
<head>
    <title>rtl_cat FFT graph</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/graph';
            var socket = io.connect(location.protocol + '//' + document.domain + 
                         ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('server_response', {data: 'I\'m connected!'});
            });

            socket.on('client_message', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            $('form#emit').submit(function(event) {
                socket.emit('server_response', {data: $('#emit_data').val()});
                return false;
            });

            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });

            $('form#create_graph').submit(function(event) {
                socket.emit('create_fft_graph');
                return false;
            });

            socket.on('fft_data', function(msg) {
                document.getElementById("fft_graph").src = "data:image/png;base64," + msg.data;
            });
        });
    </script>
</head>
<body>
    <center>
        <!--<form id="emit" method="POST" action='#'>
            <input type="text" name="emit_data" id="emit_data" placeholder="Message">
            <input type="submit" value="Echo">
        </form>-->
        <img id="fft_graph" alt="FFT graph">
        <br>
        <form id="create_graph" method="POST" action="#">
            <input type="submit" value="Create FFT graph">
        </form>
        <br>
        <form id="disconnect" method="POST" action="#">
            <input type="submit" value="Disconnect">
        </form>
        <div id="log"></div>
    </center>
</body>
</html>