<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/graph';
            var socket = io.connect(location.protocol + '//' + document.domain + 
                         ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('server_response', {data: 'I\'m connected!'});
            });

            socket.on('client_message', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            $('form#emit').submit(function(event) {
                socket.emit('server_response', {data: $('#emit_data').val()});
                return false;
            });

            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });

            $('form#startsdr').submit(function(event) {
                socket.emit('server_response', {data: 'start_rtl_sdr'});
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO</h1>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="startsdr" method="POST" action="#">
        <input type="submit" value="Start RTL-SDR">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>