<!DOCTYPE HTML>
<html>
<head>
    <title>Settings</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <b>Settings</b>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/';
            var socket = io.connect(location.protocol + '//' + document.domain + 
                         ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('send_args');
            });

            socket.on('client_message', function(args) {
                $("#dev_index").val(args.dev);
                $("#samp_rate").val(args.samprate);
                $("#dev_gain").val(args.gain);
                if (args.freq == null){
                    $("#center_freq").val("");
                }else{
                    $("#center_freq").val(args.freq);
                }

            });
        });
    </script>
</head>
<body>
    <form action="/action_page.php">
        Device index: <input type="text" id="dev_index"><br>
        Sample rate: <input type="text" id="samp_rate"><br>
        Center frequency: <input type="text" id="center_freq"><br>
        Gain: <input type="text" id="dev_gain"><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
