body {
    margin:0;
    padding:0
}
.app-img{
    opacity: 0;   
}
.container {
    position: relative;
    width: 100%;
}
.container img {
    width: 40%;
}
.container .gh-col {
    position: absolute;
    top: 1%;
    left: 1%;
}
.container .android-col {
    position: absolute;
    top: 1%;
    left: 6%;
}