body {
    margin:0;
    padding:0
}
.container {
    position: relative;
    width: 100%;
}
.container img {
    width: 40%;
}
.container .github-column {
    position: absolute;
    top: 70%;
    left: 25%;
}